<script type="text/ng-template" id="noteModal.html">
  <div class="modal-header">
    <p>Note name:
      <input type="text"
	       	   class="form-control"
	    		   ng-model="modal.noteName"
	    		   value="modal.noteName" />
    </p>
  </div>
  <div class="modal-body">
    <p>Note description:</p>
  	<textarea ng-model="modal.noteDescription"
              class="form-control"
  				    value="modal.noteDescription">
    </textarea>
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger delete" 
            ng-click="modal.deleteNote()"
            ng-show="modal.edit">Delete</button>
    <button class="btn btn-primary" ng-click="modal.save()">Save</button>
    <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
  </div>
</script>