<div class="list-column col-lg-2 col-md-2 col-sm-2"
     ng-repeat="list in main.lists">

  <h4>{{list.name}}</h4>
	<p>Created by: <strong>{{list.creatorName}}</strong></p>
	<p>{{list.dateCreated | date:'longDate'}}</p>

	<div ng-repeat="note in list.notes"
       ng-click="main.createNote($parent.$index, note.name, note.description, $index)">
  	<div class="note">
  		<h5>{{note.name}}</h5>
  		<p>{{note.description}}</p>

  	</div>
	</div>
	<button class="btn btn-default"
        	ng-click="main.createNote($index)">New Note</button>

</div>