<div data-as-sortable="main.sortOptions" 
     ng-model="main.lists"
     class="list-board">

  <div class="list-column col-lg-2 col-md-2 col-sm-2"
       ng-repeat="list in main.lists"
       as-sortable-item>

    <h4 as-sortable-item-handle>
      {{list.name}}
      <button class="btn btn-xs btn-danger"
              ng-click="main.deleteList($index)">x</button>
    </h4>
    <p>Created by: <strong>{{list.creatorName}}</strong></p>
    <p>{{list.dateCreated | date:'longDate'}}</p>

    <div data-as-sortable="main.sortOptions" 
         ng-model="list.notes"
         class="note-group">
      <div ng-repeat="note in list.notes"
           ng-click="main.editNote($parent.$index, note.name, note.description, $index)"
           as-sortable-item>
        <div class="note">
          <h5 as-sortable-item-handle>{{note.name}}</h5>
          <p>{{note.description}}</p>

        </div>
      </div>
    </div>
    <button class="btn btn-default"
            ng-click="main.editNote($index)">New Note</button>
    <p>Click to share list:
      <button class="btn btn-default"
              ng-click="main.shareList($index)"
              value="email">Invite</button>
    </p>
  </div>
</div>