.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.trello-board {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    min-height: 100%
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.list-column {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #222;
    color: black;
    margin: 10px;
    padding: 5px;
    width: 200px;
}

.note {
    background: white;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #aaa;
    list-style-type: none;
    margin: 10px;
    padding: 5px 10px;
}